
WebApplication2/obj/Debug/net6.0/WebApplication2.assets.cache
WebApplication2/obj/Debug/net6.0/WebApplication2.GeneratedMSBuildEditorConfig.editorconfig
*.cache
*.editorconfig
TestProject1/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
TestProject1/obj/Debug/net6.0/TestProject1.AssemblyInfo.cs
TestProject1/obj/project.assets.json
TestProject1/obj/project.packagespec.json
TestProject1/obj/rider.project.restore.info
TestProject1/obj/TestProject1.csproj.nuget.dgspec.json
TestProject1/obj/TestProject1.csproj.nuget.g.props
TestProject1/obj/TestProject1.csproj.nuget.g.targets
TestProject1/obj/Debug/net6.0/TestProject1.csproj.FileListAbsolute.txt
TestProject1/obj/Debug/net6.0/TestProject1.csproj.FileListAbsolute.txt
WebApplication2/bin/Debug/net6.0/appsettings.Development.json
WebApplication2/bin/Debug/net6.0/appsettings.json
WebApplication2/bin/Debug/net6.0/AutoMapper.dll
WebApplication2/bin/Debug/net6.0/Newtonsoft.Json.dll
WebApplication2/bin/Debug/net6.0/Serilog.dll
WebApplication2/bin/Debug/net6.0/WebApplication2.deps.json
WebApplication2/bin/Debug/net6.0/WebApplication2.dll
WebApplication2/bin/Debug/net6.0/WebApplication2.exe
WebApplication2/bin/Debug/net6.0/WebApplication2.pdb
WebApplication2/bin/Debug/net6.0/WebApplication2.runtimeconfig.json
WebApplication2/bin/Debug/net6.0/WebApplication2.staticwebassets.runtime.json
WebApplication2/obj/Debug/net6.0/ref/WebApplication2.dll
WebApplication2/obj/Debug/net6.0/refint/WebApplication2.dll
WebApplication2/obj/Debug/net6.0/scopedcss/bundle/WebApplication2.styles.css
WebApplication2/obj/Debug/net6.0/scopedcss/projectbundle/WebApplication2.bundle.scp.css
WebApplication2/obj/Debug/net6.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
WebApplication2/obj/Debug/net6.0/staticwebassets.build.json
WebApplication2/obj/Debug/net6.0/staticwebassets.development.json
WebApplication2/obj/Debug/net6.0/WebApplication2.AssemblyInfo.cs
WebApplication2/obj/Debug/net6.0/WebApplication2.AssemblyInfoInputs.cache
WebApplication2/obj/Debug/net6.0/WebApplication2.assets.cache
WebApplication2/obj/Debug/net6.0/WebApplication2.csproj.AssemblyReference.cache
WebApplication2/obj/Debug/net6.0/WebApplication2.csproj.CopyComplete
WebApplication2/obj/Debug/net6.0/WebApplication2.csproj.CoreCompileInputs.cache
WebApplication2/obj/Debug/net6.0/WebApplication2.csproj.FileListAbsolute.txt
WebApplication2/obj/Debug/net6.0/WebApplication2.dll
WebApplication2/obj/Debug/net6.0/WebApplication2.GeneratedMSBuildEditorConfig.editorconfig
WebApplication2/obj/Debug/net6.0/WebApplication2.genruntimeconfig.cache
WebApplication2/obj/Debug/net6.0/WebApplication2.MvcApplicationPartsAssemblyInfo.cache
WebApplication2/obj/Debug/net6.0/WebApplication2.pdb
WebApplication2/obj/Debug/net6.0/WebApplication2.RazorAssemblyInfo.cache
WebApplication2/obj/Debug/net6.0/WebApplication2.RazorAssemblyInfo.cs
WebApplication2/obj/staticwebassets.pack.sentinel
WebApplication2/bin/Debug/net6.0/appsettings.Development.json
WebApplication2/bin/Debug/net6.0/appsettings.json
WebApplication2/bin/Debug/net6.0/AutoMapper.dll
WebApplication2/bin/Debug/net6.0/Newtonsoft.Json.dll
WebApplication2/bin/Debug/net6.0/Serilog.dll
WebApplication2/bin/Debug/net6.0/WebApplication2.deps.json
WebApplication2/bin/Debug/net6.0/WebApplication2.dll
WebApplication2/bin/Debug/net6.0/WebApplication2.exe
WebApplication2/bin/Debug/net6.0/WebApplication2.pdb
WebApplication2/bin/Debug/net6.0/WebApplication2.runtimeconfig.json
WebApplication2/bin/Debug/net6.0/WebApplication2.staticwebassets.runtime.json
WebApplication2/obj/Debug/net6.0/ref/WebApplication2.dll
WebApplication2/obj/Debug/net6.0/refint/WebApplication2.dll
WebApplication2/obj/Debug/net6.0/scopedcss/bundle/WebApplication2.styles.css
WebApplication2/obj/Debug/net6.0/scopedcss/projectbundle/WebApplication2.bundle.scp.css
WebApplication2/obj/Debug/net6.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
WebApplication2/obj/Debug/net6.0/staticwebassets.build.json
WebApplication2/obj/Debug/net6.0/staticwebassets.development.json
WebApplication2/obj/Debug/net6.0/WebApplication2.AssemblyInfo.cs
WebApplication2/obj/Debug/net6.0/WebApplication2.AssemblyInfoInputs.cache
WebApplication2/obj/Debug/net6.0/WebApplication2.assets.cache
WebApplication2/obj/Debug/net6.0/WebApplication2.csproj.AssemblyReference.cache
WebApplication2/obj/Debug/net6.0/WebApplication2.csproj.CopyComplete
WebApplication2/obj/Debug/net6.0/WebApplication2.csproj.CoreCompileInputs.cache
WebApplication2/obj/Debug/net6.0/WebApplication2.csproj.FileListAbsolute.txt
WebApplication2/obj/Debug/net6.0/WebApplication2.dll
WebApplication2/obj/Debug/net6.0/WebApplication2.GeneratedMSBuildEditorConfig.editorconfig
WebApplication2/obj/Debug/net6.0/WebApplication2.genruntimeconfig.cache
WebApplication2/obj/Debug/net6.0/WebApplication2.MvcApplicationPartsAssemblyInfo.cache
WebApplication2/obj/Debug/net6.0/WebApplication2.pdb
WebApplication2/obj/Debug/net6.0/WebApplication2.RazorAssemblyInfo.cache
WebApplication2/obj/Debug/net6.0/WebApplication2.RazorAssemblyInfo.cs
*.dll
*.pdb
*.exe
*.CopyComplete
*.dll
*.pdb
*.cache
*.editorconfig
*.sentinel
*.pdb
*.editorconfig
*.dll
*.cache
