@{
    ViewData["Title"] = "Home Page";

    string date = DateTime.Now.ToShortDateString();
    string time = DateTime.Now.ToShortTimeString();
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h4>Changes made:</h4>
    <p>$"{date} - {time}"</p>
</div>